#competences{
    p.skills-group-title{
        font-size: 1.5rem;
    }
    ul.list-unstyled{
        li{
            h3{
                font-size: 1rem;
                font-weight: $font-weight-light;
                line-height: 1.5rem;
            }
        }
    }
}
