a.arrow-down-link{
    text-decoration: none;
    position: absolute;
    bottom: 7rem;
    left: 50%;
    transform: translateX(-50%);
    &:before{
        font-family: $resume-icons-font;
        content: "\61";
        font-size: 2.4rem;
    }
    span{@include visually-hidden;}
}
