section.resume-section{
    min-height: 100vh;
    position: relative;
    padding-top: $padding_section_y;
    padding-bottom: $padding_section_y;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-breakpoint-up(lg) {
        padding-top: $padding_section_lg_y;
        padding-bottom: $padding_section_lg_y;
    }
    .section-title{
        text-align: center;
        font-size: 1.875rem;
        margin-bottom: 100px;
    }
}
